footer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-green);
}

footer, a[href*="mailto"], footer a, footer a:hover, footer p, footer h3 {
    color: #fff;
}

footer > div {
    padding: var(--body-margin);
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    margin: 0 auto;
    width: 750px;
}

footer > div > *:not(h3) {
    flex: 1;
    padding: var(--body-margin);
    margin: var(--ratio-two);
    min-width: 180px;
    max-width: 180px;
    list-style-type: none;
}

footer > div > div {
    flex: 0;
    margin-right: 0 auto;
}

footer .settings {
    width: fit-content;
    position: absolute;
    align-self: flex-end;
    left: var(--body-margin);
}

footer .settings > * {
    padding: unset;
    min-width: unset;
    text-align: center;
    width: fit-content;
    margin:0;
    margin-left: calc(var(--body-margin) + 2vw);
}