/* mobile */
@media screen and (min-width: 641px) {
    button .fa-bars {
        display: none;
    }
    .menu-items {
        visibility: visible;
    }
    form.search {
        height: 112px;
        min-height: 112px;
    }
    section.shop > h1 {
        font-size: 40pt;
        text-align: right;
    }
    .tents > div:nth-of-type(2), .products > div:nth-of-type(2) {
        display: flex;
    }
}

/* in-between */
@media screen and (min-width: 800px) {
    .fa-chevron-circle-right {
        font-size: 40pt;
    }
}
@media screen and (min-width: 1000px) {
    .tents > *:not(:first-of-type), .products > *:not(:first-of-type) {
        display: flex;
    }
}

/* tablet */
@media screen and (min-width: 1024px) {

}

/* desktop */
@media screen and (min-width: 1441px) {
    header { width: 1440px; }
    header ul:last-of-type {
        position: relative;
    }
}