section.shop {
    flex-direction: column;
    box-sizing: content-box;
    padding: var(--body-margin) 0;
    align-items: center;
    justify-content: center;
}

section.shop > h1 {
    text-align: center;
    /* font-size: calc(30pt + 2vmin); */
    width: 100%;
    padding: var(--body-margin);
    max-width: 1000px;
}

section.shop > h1 > span {
    color: var(--accent-yellow);
    background-color: var(--primary-green);
    padding: var(--ratio-two) var(--ratio-six);
    border-radius: var(--ratio-two);
}

section.shop > div {
    margin-top: var(--ratio-five);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-sizing: border-box;
}

section.shop ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-content: stretch;
    max-width: 200px;
    max-height: 320px;
    margin-top: var(--ratio-five);
    margin-bottom: var(--ratio-five);
}

section.shop > div > div + div {
    margin-left: 37.5px;
}

.item img {
    width: 199px;
    height: 202px;
}

.item li {
    align-self: center;
    padding: var(--ratio-two);
}

.item .details {
    width: 100%;
}

.item li.price {
    padding: 0 var(--ratio-five);
    margin: 0 var(--ratio-five);
}

.item li.buy > * {
    padding: var(--ratio-five);
}

section.shop > div > button {
    align-self: center;
    justify-self: stretch;
    padding: var(--body-margin);
    border-radius: var(--ratio-two);
    margin: var(--body-margin);
    width: 90px;
    min-width: fit-content;
}