section.presentation {
    justify-content: center;
    align-items: center;
    background-image: url('../assets/backgrounds/pexels-marko-blazevic-757170.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

section.presentation > div, section.presentation > div > * {
    max-width: calc(500px + 10vmin);
}

section.presentation h3 {
    width: 60%;
    margin: 0 auto;
}

section.presentation h3, section.presentation h1 {
    text-align: center;
}

section.presentation > div {
    background-color: var(--accent-yellow);
    padding: calc(20px + 5vmin);
    margin: var(--body-margin);
    border-radius: 21px;
}

section.presentation > div > * + * {
    margin-top: var(--ratio-five);
}